.contact {
  padding: 3rem 1rem;
  text-align: center;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form {
  max-width: 37.5em;
  margin: 0 auto;
}

.label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: block;
}

.input,
.textarea {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 0.0625em solid #ccc;
  border-radius: 0.25em;
  width: 100%;
  margin-bottom: 1rem;
}

.contact textarea {
  resize: vertical;
  min-height: 7.5em;
}

.button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.25em;
  font-size: 1.2rem;
  cursor: pointer;
}

.button[type="submit"]:hover {
  background-color: #45a049;
}
