
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #ffffff;
  padding: 10px;
  z-index: 1;
}

.header {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  }

.ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.link {
  color: #8b3131;
  margin: 1rem;
}


.li {
  text-decoration: none;
  color: #ffffff;
  position: relative; 
  margin: 10px;
  
}  

.my-link{
color: #ffffff;
padding: 1rem;
} 

.li::after {
 content: "";
  background: white;
  mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
  transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.li:hover::after {
  height: calc(100% + 8px)
} 

.active{
  font-weight: bold;
  color: red;
}
