@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.container{
    margin: 2em;
    padding: 2em;
 font-family: 'Montserrat', sans-serif;
}

.h1{
    font-size: 3rem; /* or adjust to your preferred size */
  font-weight: 700; /* use the bold version of the font */
  color: #575555; /* or any contrasting color of your choice */
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5); /* add a subtle text-shadow effect */
  margin-top: 30px; /* add some whitespace around the text */
  margin-bottom: 20px;
}

.para{
    width: 60%;
 font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
}