.body {
 overflow-y: scroll;
z-index: 9999;
}
.project {
  /* background-color: #fff; */
  border: 0.1rem solid #ddd;
  border-radius: 0.3rem;
  padding: 1.25rem;
  margin-bottom: 1.875rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* add a subtle box-shadow effect */
}

.h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.9375rem;
}

.p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.a {
  font-size: 1rem;
  font-weight: 700;
  color: #221b1b; 
  text-decoration: none;
  border-bottom: 0.125rem solid #333;
  transition: all 0.2s ease-in-out;
}

.project a:hover {
  color: #666;
  border-bottom-color: #666;
}
